
/*
This CSS governs the appearance of our site.
You can find the basic concepts of CSS here: https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/How_CSS_works
*/

/*
This makes the border and padding be counted as part of the element's size.
https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Box_model
It switches from
	https://mdn.mozillademos.org/files/13647/box-model-standard-small.png
to
	https://mdn.mozillademos.org/files/13649/box-model-alt-small.png
*/
* {
	box-sizing: border-box;
}

/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Default font and size */
body {
	font-family: Raleway;
	font-size: 14px;
	color: white;
}

/* .content-center{
	vertical-align: middle;
} */

/*
It is easier to read if the text is not too wide, so we limit the width.
We use the class selector ".", so this style will be applied to elements with class="width-limited"

The various units of measurement available in CSS:
	https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units
*/
.width-limited {
	max-width: 55rem;

	/* Center horizontally: */
	margin-left: auto;
	margin-right: auto;
}

/* Links: apply our theme color and remove underline */
a {
	color: rgb(0, 44, 122);
	text-decoration: none;
}

/* Justify paragraphs */
p {
	text-align: justify;
}

/* Titles: set color and sizes */
h1, h2, h3, h4, h5, h6
{
	color: #f9d207;
}
h1 { font-size: 4rem; }
h2 { font-size: 1.75rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.25rem; }

/* Top navigation bar */
nav {
	width: 100%;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/* Make the links in the navbar bold */
nav a {
	font-weight: bold;
}

/* Style of the list of links in the navbar */
nav ul {
	/* Clear defaults */
	margin: 0;
	padding: 0;

	/* Remove list bullet points */
	list-style-type: none;

	/*
	Flexbox is a modern mechanism for arranging elements
		https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	This will arrange the elements in a row
	*/
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}

/* Space between links */
nav li {
	margin-right: 3rem;
}


/* The box with a dark background and our site's title */
.title-row {
	width: 100%;

	/* Space above and below the title */
	padding-top: 5rem;
	padding-bottom: 5rem;

	background-color: #f9d207;

	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Style of the title inside the box */
.title-row h1 {
	font-size: 2rem;
	color: white;
	font-variant: small-caps;
}

.viz-row {
	width: 100%;
	/* Center the title using flexbox */
	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 1rem;
	padding-bottom: 2rem;

	background-color: rgb(50, 50, 50);
}

figure > * {
	width: 100%;
	height: auto;
}


footer {
	padding-bottom: 5rem;
}

button {
	display: block;

	margin: 0.75rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0.75rem;

	border: 2px blue solid;
	border-radius: 1rem;

	background: rgb(150, 200, 255);

	font-weight: bold;
	font-size: 1.5rem;

}

textarea {
	width: 100%;
	height: 30rem;

	font-family: sans-serif;
	font-size: 1rem;
}

#plot-occurrences {
	height: 18rem;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: stretch;

	color: white;
	font-size: 1.3rem;
}

#plot-occurrences > div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: center;
}

#plot-occurrences .bar {
	width: 2rem;

	margin-bottom: 0.4rem;

	background: rgb(240, 50, 10);
}

.label-value {
	margin-top: 2rem;
	margin-bottom: 0.25rem;
	transform: rotate(90deg);

	font-size: 0.8rem;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel-caption {
  bottom: 270px;
}

.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-toggler {
  background: #fff;
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus{
  color: #fff;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

#outer-dropzone {
  height: 120%;
	width: 80%;
}

#inner-dropzone {
  height: 120%;
	width: 80%;
}

.dropzone {
	height: 40%;
	text-align: center;
  background-color: #ff8882;
  border: dashed 4px transparent;
  border-radius: 20px;
  /* margin: 10px auto 30px; */
	padding-top: 1%;
  padding-bottom: 1[];
  width: 100%;
  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

/* .drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  margin: 1rem 0 0 1rem;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  touch-action: none;
  transform: translate(0px, 0px);

  transition: background-color 0.3s;
} */

.drag-drop.can-drop {
  color: #000;
  /* background-color: #4e4; */
}

.dropped{
	font-size: 50px;
	background-color: #2b2e4a;
	color:transparent;
}


.vs{
	padding-top: 4%;
	background-color: #2b2e4a;
	font-size: 50px;
	color: white;
	text-align: center;
}


.table_rounded.table-borderless>tbody>tr:nth-of-type(odd){
   background-color: #00000035;
}


.table_rounded.table{
	border-radius: 25px;
	background-color: #FFFFFF35;
	padding-left: 20%
}

.table-borderless th {
    border: none;
}

tr {
   line-height: 13px;
   min-height: 13px;
   /* height: 25px; */
}


.row{
	padding-left: 3%;
	padding-right: 3%;
	/* margin: 20%; */
}

#dropzone.table{
	border-radius: 40px;
	border-spacing: 5%;
	padding-right: 10%;
	padding-left: 10%;
	background-color: transparent;
}

#outer-dropzone.dropzone{
	width: auto;
	height: auto;
}

#outer-dropzone.table tr {
    border: none;
}

.jumbotron{
    position: relative;
    padding:0 !important;
    margin-top:10px !important;
    background: #eee;
    text-align:center;
    margin-bottom: 0 !important;
}

.inactive{
	background-color: transparent;
	color: transparent;s
	border-top: 0;
	border-bottom:0;

}

.inactive.table_rounded.table{
	border-radius: 0px;
	background-color: transparent;
	border-top: 0;
	border-bottom:0;
}

.inactive.table > thead > tr > th {
	 border-top: 0 !important;
 		border-bottom: 0 !important;}

	#dropzone.table > tbody > tr > td,
    .table > thead > tr > td,
    .table {
        border-bottom:0;
        border-top: 0;
    }

		.background path {
		  fill: none;
		  stroke: none;
		  stroke-width: 20px;
		  pointer-events: stroke;
		}

		.foreground path {
		  fill: none;
		  stroke: steelblue;
		  stroke-width: 1.5px;
		}

		.axis .title {
		  font-size: 11px;
		  font-weight: bold;
		  text-transform: uppercase;
		}

		.axis line,
		.axis path {
		  fill: none;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}

		.label {
		  -webkit-transition: fill 125ms linear;
		}

		.active .label:not(.inactive) {
		  font-weight: bold;
		}

		.label.inactive {
		  fill: #ccc;
		}

		.foreground path.inactive {
		  stroke: #ccc;
		  stroke-opacity: .5;
		  stroke-width: 1px;
		}

		body {
  min-width: 760px;
}

.parcoords {
  display: block;
}

.parcoords svg,
.parcoords canvas {
  font: 10px sans-serif;
  position: absolute;
}

.parcoords canvas {
  opacity: 0.9;
  pointer-events: none;
}

.axis .title {
  font-size: 10px;
  transform: rotate(-21deg) translate(-5px,-6px);
  /* fill: #222; */
	fill: #e7dfa2;
}

.axis line,
.axis path {
  fill: none;
  stroke: #ccc;
  stroke-width: 4px;
}

.axis .tick text {
  fill: #e7dfa2;
  pointer-events: none;
}

.axis.pl_facility .tick text,
.axis.pl_instrument .tick text,
.axis.st_spstr .tick text {
  font-size: 6px;
}

.axis.pl_telescope .tick text {
  font-size: 5px;
}

.axis:hover line,
.axis:hover path,
.axis.active line,
.axis.active path {
  fill: none;
  stroke: #e7dfa2;
  stroke-width: 1px;
}

.axis:hover .title {
  font-weight: bold;
}

.axis:hover .tick text {
  opacity: 1;
}

.axis.active .title {
  font-weight: bold;
}

.axis.active .tick text {
  opacity: 1;
  font-weight: bold;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: 4px;
}


.active .label:not(.inactive) {
  font-weight: bold;
}

.label.inactive {
  fill: #ccc;
}
